* { /*Reset básico*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montsserat, sans-serif;
}
:root {
    /*Paleta de cores roxa*/
    --roxo1: #10002b;
    --roxo2: #240046;
    --roxo3: #3c096c;
    --roxo4: #5a189a;
    --roxo5: #7b2cbf;
    --roxo6: #9d4edd;
    --roxo7: #c77dff;
    --roxo8: #e0aaff;

    /*Outras cores*/
    --divBg: rgba(0, 0, 0, 0.7);

    /*Cor da fonte*/
    --fontColor1: #f7f7f7;
}
body {
    background-image: url("images/background login.png");
    color: var(--fontColor1);
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.loginArea, .registerArea {
    height: max-content;
    width: 300px;
    padding: 25px;
    background-color: var(--divBg);
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}
main {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
}
input {
    margin: 10px;
    width: 120px;
    height: 28px;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
}
button {
    margin: 10px;
    width: 120px;
    height: 28px;
    border-radius: 2px;
    background-color: var(--roxo5);
}
input:hover {
    border-width: 3px;
    border-bottom-color: var(--roxo5);
    cursor: pointer;
}
button:hover {
    background: linear-gradient(30deg, var(--roxo5), var(--roxo6));
    cursor: pointer;
}