* { /*Reset básico*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montsserat, sans-serif;
}
:root {
    /*Paleta de cores roxa*/
    --roxo1: #10002b;
    --roxo2: #240046;
    --roxo3: #3c096c;
    --roxo4: #5a189a;
    --roxo5: #7b2cbf;
    --roxo6: #9d4edd;
    --roxo7: #c77dff;
    --roxo8: #e0aaff;

    /*Outras cores*/
    --divBg: rgba(0, 0, 0, 0.7);

    /*Cor da fonte*/
    --fontColor1: #f7f7f7;
}
body {
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-suave-em-gradiente_23-2148967580.jpg?semt=ais_hybrid&w=740&q=80);
    width: 100vw;
    color: var(--fontColor1);
    align-items: center;
    background-repeat: no-repeat;
}
button {
    margin: 10px;
    width: 120px;
    height: 35px;
    border-radius: 2px;
    text-decoration: none;
    background-color: var(--roxo5);
    cursor: pointer;
    transition: all 0.5s ease;
}
button:hover {
    background: linear-gradient(30deg, var(--roxo5), var(--roxo6));
}